@font-face {
  font-family: 'Space Invaders';
  src: url("./../fonts/teste.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Space Invaders' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caranguejo-relaxado::before {
  content: "\0042";
  color: #a20000;
  -webkit-animation: iconCaranguejoRelaxadoDefensiva 1s infinite;
          animation: iconCaranguejoRelaxadoDefensiva 1s infinite;
}

.icon-caranguejo-defensiva::before {
  content: "\0043";
}

.icon-polvo-pequeno-relaxado::before {
  content: "\0044";
  color: #72f2ff;
  -webkit-animation: iconPolvoPequenoRelaxadoDefensiva 1s infinite;
          animation: iconPolvoPequenoRelaxadoDefensiva 1s infinite;
}

.icon-polvo-pequeno-defensiva::before {
  content: "\0045";
}

.icon-polvo-grande-relaxado::before {
  content: "\0046";
  color: #004eff;
  -webkit-animation: iconPolvoGrandeRelaxadoDefensiva 1s infinite;
          animation: iconPolvoGrandeRelaxadoDefensiva 1s infinite;
}

.icon-polvo-grande-defensiva::before {
  content: "\0047";
}

@-webkit-keyframes iconCaranguejoRelaxadoDefensiva {
  from {
    content: "\0042";
  }
  to {
    content: "\0043";
  }
}

@keyframes iconCaranguejoRelaxadoDefensiva {
  from {
    content: "\0042";
  }
  to {
    content: "\0043";
  }
}

@-webkit-keyframes iconPolvoPequenoRelaxadoDefensiva {
  from {
    content: "\0044";
  }
  to {
    content: "\0045";
  }
}

@keyframes iconPolvoPequenoRelaxadoDefensiva {
  from {
    content: "\0044";
  }
  to {
    content: "\0045";
  }
}

@-webkit-keyframes iconPolvoGrandeRelaxadoDefensiva {
  from {
    content: "\0046";
  }
  to {
    content: "\0047";
  }
}

@keyframes iconPolvoGrandeRelaxadoDefensiva {
  from {
    content: "\0046";
  }
  to {
    content: "\0047";
  }
}

.container-game-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.container-aliens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.container-aliens .div-alien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.container-aliens .span-alien {
  font-size: 20px;
}

.container-nave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 50px;
}

.container-nave .icon-nave {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("./../images/container-game-background-space-invaders.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*# sourceMappingURL=style.css.map */